.scoreboard {
  width: 250px;
  height: 100px;
  background-color: aqua;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
}

.red {
  color: red;
  font-size: 50px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.orange {
  background-color: rgba(236, 137, 96, 0.8);
}

.instruction {
  background-color: rgba(236, 137, 96, 0.8);
  font-size: 18px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputLine {
  display: flex;
  justify-content: space-around;
}

.counterMessage {
  color: red;
  font-size: 18px;
}