.stars {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

span {
  font-size: 40px;
}

.list {
  margin-top: 50px;
  text-align: center;
}

.list ul {
  list-style-type: square;
  padding: 10px;
}
